<form>
    <div class="form-group form-inline">
        {{ 'common.search' | translate }}: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="heroService.searchTerm"/>
        <span class="ml-3" *ngIf="heroService.loading$ | async">Loading...</span>
    </div>
  
    <table class="table table-striped">
      <thead>
      <tr>      
        <th scope="col">{{ 'hero.header.name' | translate }}</th>
        <th scope="col" sortable="force" (sort)="onSort($event)">{{ 'hero.header.force' | translate }}</th>
        <th scope="col" sortable="defend" (sort)="onSort($event)">{{ 'hero.header.defend' | translate }}</th>
        <th scope="col" sortable="intelligence" (sort)="onSort($event)">{{ 'hero.header.intelligence' | translate }}</th>
        <th scope="col" sortable="speed" (sort)="onSort($event)">{{ 'hero.header.speed' | translate }}</th>
        <th scope="col" sortable="politics" (sort)="onSort($event)">{{ 'hero.header.politics' | translate }}</th>
        <th scope="col" sortable="charm" (sort)="onSort($event)">{{ 'hero.header.charm' | translate }}</th>      
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let hero of heros$ | async">      
        <td>
            <ngb-highlight [term]="heroService.searchTerm"></ngb-highlight>
            <a [routerLink]="[hero.id]">{{ hero.name }}</a>
        </td>
        <td>
            <ngb-highlight [result]="hero.attribute.force" [term]="heroService.searchTerm"></ngb-highlight>
             + <span class="color-green">{{ hero.growth.force }}</span>
        </td>
        <td>
            <ngb-highlight [result]="hero.attribute.defend" [term]="heroService.searchTerm"></ngb-highlight>
             + <span class="color-green">{{ hero.growth.defend }}</span>
        </td>
        <td>
            <ngb-highlight [result]="hero.attribute.intelligence" [term]="heroService.searchTerm"></ngb-highlight>
             + <span class="color-green">{{ hero.growth.intelligence }}</span>
        </td>
        <td>
            <ngb-highlight [result]="hero.attribute.speed" [term]="heroService.searchTerm"></ngb-highlight>
             + <span class="color-green">{{ hero.growth.speed }}</span>
        </td>
        <td>
            <ngb-highlight [result]="hero.attribute.politics" [term]="heroService.searchTerm"></ngb-highlight>
             + <span class="color-green">{{ hero.growth.politics }}</span>
        </td>
        <td>
            <ngb-highlight [result]="hero.attribute.charm" [term]="heroService.searchTerm"></ngb-highlight>
             + <span class="color-green">{{ hero.growth.charm }}</span>
        </td>
      </tr>
      </tbody>
    </table>
  
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination
        [collectionSize]="(total$ | async)!" [(page)]="heroService.page" [pageSize]="heroService.pageSize">
      </ngb-pagination>
  
      <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="heroService.pageSize">
        <option [ngValue]="5">5 heros per page</option>
        <option [ngValue]="10">10 heros per page</option>
        <option [ngValue]="20">20 heros per page</option>
      </select>
    </div>
  
  </form>
  