.list-item {
    height: 200px;
    max-width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    margin: 10px auto;
}

@media (min-width: 768px) and (max-width: 991px) {
    .list-item {
        max-width: 240px !important;
    }
}